{{> header}}
<div class="content-form">
        <h2 class="text-center mb-4">Registrar producto</h2>
        <form action="">
            <label class="mt-2" for="">Productos</label>
            <select class="form-select" name="" id="producto">
                <option value="1">Aceite</option>
                <option value="2">Arróz</option>
                <option value="3">Agua</option>
            </select>
    
            <label class="mt-2" for="">Precio:</label>
            <input class="form-control" type="text" id="precio">

            <label class="mt-2" for="">Cantidad</label>
            <input class="form-control" type="text" id="cantidad">
    
            <label class="mt-2" for="">Subtotal</label>
            <input class="form-control" type="text" id="subtotal">
    
            <button class="btn btn-primary mt-2" id="btnRegistrar" type="button">Registrar</button>
        </form>
        <p id="respuesta"></p>
</div>
    <script src="../assets/js/funciones.js"></script>

</body>

</html>